<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Q&A</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/dashboard">Dashboard</a></li>
        <li><a href="#/new_question">Ask a question</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{curUser.name}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a>My profile</a></li>
            <li role="separator" class="divider"></li>
            <li class="logout"><a ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="background"></div>
<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 showContent">
    <h3>Add a new question</h3>
    <form name="newQuestion" ng-submit="newQuestion.$valid && createQuestion()">
      <div class="form-group">
        <label for="question">Question:</label>
        <textarea name="title" class="form-control" id="question" ng-model="question.title" placeholder="Question title..." required minlength="10"></textarea>

        <div class="showErr" ng-show="newQuestion.title.$dirty && newQuestion.title.$error.minlength">
          <p>Question minimum length: 10 characters</p>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description (optional):</label>
        <textarea name="description" class="form-control" id="description" ng-model="question.description" placeholder="More details..."></textarea>
      </div>
      
      <div>
        <a href="#/dashboard" class="btn btn-warning">Cancel</a>
        <button type="submit" ng-disabled="newQuestion.$invalid" class="btn btn-primary">Ask now</button>
      </div>
    </form>
  </div>
</div>

